.button {
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
    font-family: 'FuturaPT';
    letter-spacing: 0.03em;
    color: @white;
    font-size: 0;
    font-weight: normal;
    &--payment {
        width: 1.1rem;
        margin-right: 0.5rem;
    }
    &--close {
        margin-left: auto;
        img {
            width: 1.1rem;
            
        }
    }
}
