.menu {
    position: absolute;
    top: 0;
    height: 100vh;
    z-index: 1000;
    text-align: center;
    box-shadow: -1px 0px 3px 0 rgba(47, 47, 47, 0.1);
    overflow: hidden;
    left: 0;
    background-color: rgba(6, 42, 72, 0.9);
    & .menu__item span,
    & .menu__text {
        display: none;
    }
    &.opened {
        width:100%;
        & span,
        & .menu__text {
            display: block;
        }
        & .menu__link--underline {
            border-bottom: 2px solid #062a48;
        }
        & .menu__nav {
            width: 14em;
        }
        // & .overlay {
        //     display: block;
        // }
    }
}
.menu__toggle {
    width: 1.8em;
    font-size: 1em;
    height: 1.8em;
    overflow: hidden;
    position: absolute;
    left: 1em;
    top: 1em;
    z-index: 1000;
    background: #ffffff;
}
.menu__opened {
    font-size: 1em;
    display: none;
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    & svg {
        width: 100%;
        height: 100%;
    }
    & svg path{
        stroke: #ffffff;
    }
}
.menu__nav {
    padding: 1em;
    padding-top: 2.8em;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: @white;
    position: relative;
    width:4.2em;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
}
.menu__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 31.1em;
    min-width: 30.8px;
}
.menu__content {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.menu__top {
    margin-top: 3.4vh;
    margin-bottom: 0.4em;
}
.menu__item {
    margin-bottom: 1.6vh;
    & a {
        display: flex;
        align-items: center;
    }
}
.menu__bottom {
    margin-top: auto;
}
.menu__img {
    margin-right: 1.2em;
    width: 1.8em;
    flex-shrink: 0;
}
.menu__text {
    color: @marine;
    margin-bottom: 3.4vh;
    &--address {
        margin-bottom: 0.4em;
    }
}
.menu__link {
    display: inline-block;
    margin: 0.4em 0;
}
@media (max-height: 499px) {
    .menu__top {
        margin-top: 1.428em;
    }
    .menu__text {
        margin-bottom: 1.356em;
    }
    .menu__item {
        margin-bottom: 0.75em;
    }
}
@media @small-widths {
    .menu {
        display: none;
        right: 0;
        &.opened {
            display: block;
        }

    }
    .menu__wrapper {
        min-height: auto;
    }
    .menu__nav {
        margin-left: auto;
    }
    .menu__opened {
        display: block;
    } 
}
@media @extra-small-widths {
    .menu__opened {
        margin-left: auto;
    } 
}
