.menu-payment {
    width: 50%;
    justify-content: space-between;
}
.menu-payment__item {
    letter-spacing: 0.03em;
    color: @marine;
    margin-right: 6%;
    &--active {
        font-family: 'FuturaPT-Demi';
        font-weight: normal;
        text-decoration: 2px underline;
    }
}