.page-header {
    width: 100%;
    background-color: @marine;
    padding-top: 2.2em;
    padding-left: 84px;
}
.page-header__container {
    display: flex;
    margin-bottom: 2.5em;
    align-items: center;
    &--menu {
        box-shadow: -1px 0px 3px 0 rgba(47, 47, 47, 0.1);
        background-color: @white;
        padding: 1.4em;
        position: relative;
        margin-bottom: 0;
    }
}
.page-header__logo {
    margin-right: 10%;
}
.page-header__info {
    font-size: 0.9em;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: @white;
    margin: 0;
}
.page-header__menu {
    margin-left: auto;
    font-size: 0;
}
.page-header__link {
    margin-right: 1.1rem;
    &:last-child {
        margin-right: 0;
    }
}
