.payment {
    box-shadow: -1px 0px 3px 0 rgba(47, 47, 47, 0.1);
    background: @white;
    flex-grow: 1;
}
.payment__section {
    display: flex;
    align-items: center;
    position: relative;
    &--left {
        padding-left: 5.6em;
        width: 76%;
        margin-bottom: 1.5em;
        margin-right: 1%;
        &::before {
            content: '';
            width: 2.2em;
            height: 2.2em;
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            bottom: 50%;
            transform: translateY(-50%);
        }
    }
    &--right {
        width: 23%;
        padding-right: 1.5em;
        padding-bottom: 1.5em;
        justify-content: space-between;
        &::after {
            content: '';
            width: 1.5em;
            height: 1.5em;
            display: block;
            position: absolute;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}
.payment__item {
    display: flex;
    width: 100%;
    border-bottom: 2px solid @pale-grey;
    border-top: 2px solid @pale-grey;
    padding: 1.7em 0.7em 0.8em 1.1em;
    &--incoming {
       & .payment__section--left::before {
            background: url("../img/icons/arrow-down.svg") no-repeat;
            background-size: cover;
        }
        & .sum {
            color: @cool-green;
        }
    }
    &--outgoing {
        & .payment__section--left::before {
            background: url("../img/icons/arrow-up.svg") no-repeat;
            background-size: cover;
        }
        & .sum {
            color: @black-two;
        }
    }
    &--blocked .payment__section--right::after{
        background: url("../img/icons/block.svg") no-repeat;
        background-size: cover;
    }
    &--confirmed .payment__section--right::after{
        background: url("../img/icons/done.svg") no-repeat;
        background-size: cover;
    }
}
.payment__img {
    margin-right: 3.1em;
}
.payment__date {
    margin-right: 1.8em;
}
.payment__info p {
    margin: 0;
}
@media @small-widths {
    .payment__section--left {
        padding-left: 2.5em;
        width: 66%;
    }
    .payment__section--right {
        width: 32%;
    }
    .payment__date {
        margin-right: 1.5em;
    }
}
@media @extra-small-widths {
    .payment__item {
        flex-wrap: wrap;
    }
    .payment__section--left,
    .payment__section--right {
        width: 100%;
    }
}