@white: #ffffff;
@marine: #062a48;
@black: #363636;
@reddish: #c2513d;
@steel-grey: #848a8f;
@pale-grey: #f7f8fa;
@cool-green: #31bf5c;
@black-two: #000000;
@light-navy-blue: #26567e;
@black-two: #000000;
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1280px)";
@mobile-widths-only: ~"(max-width: 767px)";
@retina: ~"(-webkit-min-device-pixel-ratio: 2) and (min-resolution: 144dpi) and (min-resolution: 2dppx)";